@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	box-sizing:border-box;
}

body{
	background-color:#BBBBBB
}

a{
	color:white;
	text-decoration:none;
	font-family:'Avenir Next LT Pro Condensed 5184', 'Alegreya Sans', sans-serif;
	font-size:30px;
}

p{
	font-family:"Alegreya Sans", sans-serif;
	font-size:20px;
	color:white;
}

h1, h2, h3{
	font-family:"Avenir Next LT Pro Condensed 5184", "Alegreya Sans", sans serif;
	color:white;
}

ul{
	list-style-type:none;
	padding:0;
}

	/* Navigationsbar*/

header{
	position:sticky;
	top:0;
	background-color:#5A5A5A;
	
}
.logo{
	height:80px;
}

.firstnav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding:0 20px 0 20px;
	color:white;
}

.secondnav {
	display:none;
}

.secondnav ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.secondnav li {
	padding: 20px 20px;
	width: 100%;
	
}

.toggleShow {
	display: flex;
	flex-direction: column;
	align-items:center;
}


	/*Landing*/

.heroimg{
	height:100vh;
	max-width:100%;
	background-image:url("../img/heroimg.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
	display:flex;
	justify-content:center;
}

.heroimg h1{
	font-size:50px;
	text-align:center;
}

.landingtext{
	height:259px;
	text-align:center;
	display:flex;
	justify-content:center;
	align-items:center;
}




	/*Information (booking og åbningstider)*/

.bookingbtn{
	max-height:66vh;
	width:100%;
	object-fit:cover;
}



	/*Slides*/

.slideimg{
	height:45vh;
	margin-top:20px;
	margin-bottom:20px;
	background-image:url("../img/spaghetti.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	max-width:100%;
}

	/*Menu billeder*/

.menubilleder{
	display:block;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	margin:0;
	
	
}

.menubilleder img{
	min-height:40vh;
	max-height:60vh;
	width:auto;
	max-width:50vw;
	object-fit:cover;
}

#kontaktinfo{
	display:flex;
	justify-content:center;
	align-items:center;
	margin:20px 0 20px 0;
}

.openclose{
	margin-right:20px;
}

.adresse{
	margin-left:20px;
}


	/*Om os*/


.omos{
	display:flex;
	flex-direction:column;

}
.omos p{
	margin:20px;
}

.omos img{
	width:100%;
	height:auto;
}



	/*Footer*/

footer{
	background-color:#646464
}


.footlinks a{
	font-size:15px;
}
.footlinks ul{
	list-style-type:none;
	display:flex;
	flex-flow:column nowrap;
	align-items:center;
	justify-content: space-around;
}

.footlinks li{
	padding:10px;
}

	/*Booking side*/

.booksite{
	width:100%;
}

.bookingsite{
	display:flex;
	flex-direction:column;
	align-items:center;
	padding:30px;
	
}

.input{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}

.input li{
	margin:20px;
}

	/*Menu*/

.menutitle{
	text-align:center;
}
.menubar{
	width:100%;
	background-color:#5A5A5A;
}

.menubar ul{
	display:flex;
	align-items:center;
	justify-content:center;
	flex-wrap:wrap;
}

.menubar li{
	padding:10px;
}

.menuer li{
	margin:30px;
	padding:10px;
	border-bottom:solid 1px black;
}

.allemenu{
	display:flex;
	flex-direction:column;
	align-items:center;
	text-align:center;
	
}

#drinkvin{
	display:flex;
	flex-direction:row;
}

.tiltop{
	display:flex;
	justify-content:flex-end;
	position:sticky;
	bottom:40px;
	margin-right:20px;
	
}

	/*Media Queries*/

@media screen and (min-width: 1024px) {
	
header {
	display: flex;
	justify-content:flex-end;
}
	
.logo{
	display:flex;
}
	
.firstnav {
	width: auto;
}
.secondnav {
	display: flex;
	width: 100%;
}
	
.secondnav ul {
	display: flex;
	align-items: center;
	justify-content:center;
	}
	
.navToggle {
	display:none;
}
	
	/*Menu side*/
	
	.menubar{
		position:sticky;
		top:90px;
		border-top:1px solid white;
	}
	
	.tiltop{
		position:sticky;
		right:30px;
		bottom:30px;
	}
	
}